@use '../base';

.main-hero {
    background: url("./images/background-image.svg") center center / cover no-repeat;
    padding: 0;
    width: 100vw;
    // height: calc(100vh - 113px);
    max-height: 1005px;
}

