/* color variables*/

$clr-background:rgba(39, 39, 39, 1);  /* For header and background*/
$clr-btn-icon: #EFA802;
$clr-background-search: #6E6C6C;
$clr-stats-cards: #000;
$clr-background-footer: #0E0D0D;




